---
import DefaultLayout from "@layouts/Default.astro"
import Card from "@components/Card"
import InteriorContent from "@components/InteriorContent.astro"
import InteriorHero from "@components/InteriorHero.astro"
import Tag from "@components/Tag"
import {
	getColorFromPositionCategory,
	getColorFromPositionType,
} from "@utils/postUtils"
import { getCollection, type CollectionEntry } from "astro:content"
import { motion } from "framer-motion"

const positions = await getCollection("positions")

type Props = CollectionEntry<"positions">
---

<DefaultLayout
	title="Careers"
	description="We are always looking for talented individuals passionate about building blockchain products that make a difference | Diego Tech"
>
	<InteriorHero>
		<p
			class="text-center font-extrabold uppercase tracking-wider text-zinc-500"
		>
			Join the team
		</p>
		<h1
			class="mt-4 text-center font-heading text-5xl font-black md:text-6xl lg:text-7xl"
		>
			We are hiring
		</h1>
		<p
			class="mx-auto mt-6 max-w-xl text-center text-xl text-zinc-400 md:text-2xl"
		>
			We are always looking for talented individuals passionate about building
			blockchain products that make a difference
		</p>
	</InteriorHero>

	<InteriorContent>
		<div class="flex flex-col gap-12">
			{
				positions.map(
					({ data: { title, type, description, category, remote } }: Props) => (
						<motion.a
							href="/contact"
							initial={{ opacity: 0, y: 20 }}
							whileInView={{ opacity: 1, y: 0 }}
							viewport={{
								once: true,
								amount: 0.5,
							}}
							transition={{
								duration: 0.5,
								ease: "easeIn",
							}}
							client:load
						>
							<Card
								color={getColorFromPositionCategory(category)}
								buttonText="Apply now"
							>
								<div class="flex items-center gap-3">
									{remote && <Tag>Remote</Tag>}
									<Tag color={getColorFromPositionType(type)}>{type}</Tag>
								</div>
								<h2 class="mt-6 font-heading text-3xl font-black">{title}</h2>
								<p class="mt-4 text-xl text-zinc-400">{description}</p>
							</Card>
						</motion.a>
					)
				)
			}
		</div>
	</InteriorContent>
</DefaultLayout>
